#AIPrivacy{
	position:fixed;
	background-color:#00000094;
	display:flex;
	align-items: center;
 	justify-content: center;
	z-index:9999;
	font-family:Arial;

	-webkit-animation-name: AIP_fadeIn;
  animation-name: AIP_fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;


	#AIPrivacy_wrapper{
		background-color:#FFF;
		padding:30px;	
		position:relative;
		max-height:90%;
	overflow-y:auto;
	}
	&.display_none{
		display:none;
	}
	&.display_bottom{
		width:100%;
		bottom:0;
		left:0;
		#AIPrivacy_wrapper{
			max-width:100%;
			width:100%;
		}

	}

	&.display_middle{
		width:auto;
		top:0;
		left:0;
		width:100%;
		height:100%;

		#AIPrivacy_wrapper{
			max-width:600px;
		}

	}


	//infos layer contenu
	.aip_title,
	.aip_settingstitle{
		font-size:1.2em;
		text-align:center;
		margin-bottom:10px;
		font-weight:bold;
	}

	.aip_buttons{
		margin: 10px;
		text-align:center;
		display:flex;
		justify-content: space-between;
		.aip_acceptall{
			border:1px solid #333;
			padding:10px;
			font-size:1.2em;
			font-weight:bold;
			text-transform:uppercase;
			cursor:pointer;

		}
		.aip_linktraceurs{
			border:none;
			cursor:pointer;
			font-size:1em;
			
		}
	}

	///aip_settings
	.aip_vendor_opt{
		padding-left:30px;
		margin:20px 0;
		input{
			margin-left:-30px;
				
		}
		.aip_vendor_title{
			font-weight:bold;
			display: inline-block;
    		padding-left: 15px;
		}
	}


	#aip_saveCookieSettings{
		
		margin:10px auto;
		text-align:center;
		display:block;
		border:1px solid #333;
		padding:10px;
		font-size:1.2em;
		font-weight:bold;
		text-transform:uppercase;
		cursor:pointer;
	}
}


@-webkit-keyframes AIP_fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes AIP_fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
} 